{% extends "users/base.html" %}
{% block title %} Home Page {% endblock title%}
{% block content %}

        <h1 class="display-4">Welcome, {{user.first_name.title|default:'Guest'}}</h1>
        <p class="lead">
            This is <b>sport entities management system</b>
        </p>
        <hr class="my-4">
        <p class="lead">
            {% if user.is_authenticated %}
                <body>
                    <div class="container" style="margin-top: 50px;">
                        <div class="row">
                            <div class="col-md-12">
                                <a class="btn btn-primary btn-lg btn-block" role="button">
                                My groups
                                </a>
                            </div>
                            <br><br>
                            <br><br>
                            <div class="col-md-12">
                                <a class="btn btn-primary btn-lg btn-block" role="button">
                                Add to group
                                </a>
                            </div>
                            <br><br>
                            <br><br>
                            <div class="col-md-12">
                                <a class="btn btn-primary btn-lg btn-block" role="button">
                                Create group
                                </a>
                            </div>
                        </div>
                    </div>
                </body>
                <br><br>
                <br><br>
                <br><br>
                <a class="btn btn-primary btn-sm" href="{% url 'logout' %}" role="button">
                Logout</a>
            {% else %}
                <a class="btn btn-primary btn-sm" href="{% url 'login' %}" role="button">
                Sign in</a>
            {% endif %}
        </p>


{% endblock content %}